Name: <%= @user.name %>
<br>
<br>
Email: <%= @user.email %>
<br>
<br>
<% deck_array(@user.id).each do |deck| %>
<table>
<tbody>
  <thead><%= deck.name %></thead>
  <tr>
    <th>Date</th>
    <th>Cards in Deck</th>
    <th>First Guess Correct</th>
    <th>Total Guesses</th>
  </tr>
  <tr>
    <% games_array(deck, @user.id).each do |game| %>
    <td><%= game.created_at %></td>
    <td><%= deck.cards.count %></td>
    <td><%= first_guess(game.id) %></td>
    <td><%= total_guesses(game.id) %></td>
  </tr>
    <% end %>
</tbody>
</table>
<% end %>


